In [1]:
import pandas as pd
import numpy as np
import io
from helper import *

combineData = pd.read_csv("combineData.csv")
allDraftData = pd.read_csv("DraftPlacing.csv")

In [2]:
# Start with the draft data
draftData = []
year = 2019
for i in range(len(allDraftData)):
    temp = allDraftData["Text"].iloc[i]
    if type(temp)==float: 
        continue
    temp = pd.read_csv(io.StringIO(temp[80:]), lineterminator='\n')
    temp.columns = temp.iloc[0]
    temp.drop([0], axis=0, inplace=True)
    temp = temp[pd.isnull(temp["Player"])==False]
    # Fix the player name
    temp["Player"] = formatNames([name.split("\\")[0] for name in temp["Player"]])
    temp["Year"] = year
    year -= 1
    draftData.append(temp[["Pk", "Tm", "Player", "Year"]])
    
draftData = pd.concat(draftData, ignore_index=True)

In [3]:
# Now we will append combine data!
combineData["PLAYER"] = formatNames(combineData["PLAYER"])
draftData = draftData.merge(combineData, how='left', left_on="Player", right_on="PLAYER").drop(["PLAYER"], axis=1)

In [27]:
# Finally we tackle the player data
playerData = pd.read_csv("allPlayerData.csv")
playerData.drop(["Root"], axis=1, inplace=True)

playerData.rename(columns={"Text1":"Player", "Text":"perGame", "Text2":"totals", "Text3":"per40min", 
                           "Text4":"per100pos", "Text5":"advanced", "Text6":"awards"}, inplace=True)
playerData.drop_duplicates(subset=["Player"], inplace=True, keep="first")

playerData["Player"] = formatNames(playerData["Player"])

perGameCols = ["gamesPlayed", "minutes", "FT%", "3P%", "SOS"]
advancedCols = ["PER", "eFG%", "ORB%", "DRB%", "AST%", "TOV%", "STL%", "BLK%", "USG%", "OWS", "DWS"]
totalCols = ["FTA", "FGA", "MP", "3PA", "PTS", "FGA", "PF"]
posCols = ["ORtg", "DRtg"]
calculatedCols = ["MP_per_PF", "FTA_per_FGA", "MP_per_3PA", "PTS_per_FGA"]
awardsCol = ["awards"]
allColumns = perGameCols + advancedCols + totalCols + posCols + calculatedCols

playerDF = pd.DataFrame(index=range(len(playerData)))
playerDF['Player'] = np.nan
playerDF["collegeYear"] = np.nan
for col in allColumns: playerDF[col] = np.nan
playerDF["awards"] = 0

for i in range(len(playerData)):
    player = playerData.iloc[i]
    playerDF["Player"].iloc[i] = player["Player"]
    
    # Get the perGame data
    perGame = player["perGame"]
    if type(perGame)!=float: 
        perGame = pd.read_csv(io.StringIO(perGame[80:]), lineterminator='\n')
        perGame = perGame.iloc[perGame[perGame["Season"]=="Career"].index[0]-1, :]
        perGame.rename({"G":"gamesPlayed", "MP":"minutes"}, inplace=True)
        playerDF.loc[i, "collegeYear"] = perGame["Season"]
        for col in perGameCols:
            playerDF.loc[i, col] = perGame[col]
    
    # Get the advanced data
    advanced = player["advanced"]
    if type(advanced)!=float:
        advanced = pd.read_csv(io.StringIO(advanced[80:]), lineterminator='\n')
        advanced = advanced.iloc[advanced[advanced["Season"]=="Career"].index[0]-1, :]
        playerDF.loc[i, "collegeYear"] = advanced["Season"]
        
        for col in advancedCols:
            playerDF.loc[i, col] = advanced[col]
            
    # Get totals data
    totals = player["totals"]
    if type(totals)!=float:
        totals = pd.read_csv(io.StringIO(totals[80:]), lineterminator='\n')
        totals = totals.iloc[totals[totals["Season"]=="Career"].index[0]-1, :]
        playerDF.loc[i, "collegeYear"] = totals["Season"]
        
        for col in totalCols:
            playerDF.loc[i, col] = totals[col]
    
        # Calculate the derrived metrics
        playerDF.loc[i, "MP_per_PF"] = totals["MP"]/totals["PF"] if totals["PF"]!=0 else np.nan # SHOULD BE FIXED
        playerDF.loc[i, "FTA_per_FGA"] = totals["FTA"]/totals["FGA"] # ASSUMED NOT ZERO
        playerDF.loc[i, "MP_per_3PA"] = totals["MP"]/totals["3PA"] if totals["3PA"]!=0 else np.nan # SHOULD BE FIXED
        playerDF.loc[i, "PTS_per_FGA"] = totals["PTS"]/totals["FGA"]
    
    # Get posessions data
    pos = player["per100pos"]
    if type(pos)!=float:
        pos = pd.read_csv(io.StringIO(pos[80:]), lineterminator='\n')
        pos = pos.iloc[pos[pos["Season"]=="Career"].index[0]-1, :]
        playerDF.loc[i, "collegeYear"] = pos["Season"]
        
        for col in posCols:
            playerDF.loc[i, col] = pos[col]
            
    # Get awards data
    awards = player["awards"]
    if type(awards)!=float:
        playerDF["awards"].iloc[i] = awards.count("20")

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,Player,collegeYear,gamesPlayed,minutes,FT%,3P%,SOS,PER,eFG%,ORB%,...,3PA,PTS,PF,ORtg,DRtg,MP_per_PF,FTA_per_FGA,MP_per_3PA,PTS_per_FGA,awards
0,zionwilliamson,2018-19,NaN,NaN,NaN,NaN,NaN,40.8,0.708,12.7,...,71.0,746.0,68.0,133.1,87.4,14.558824,0.466667,13.943662,1.714943,24
1,jamorant,2018-19,33.0,36.6,0.813,0.363,-3.11,31.6,0.553,3.9,...,157.0,808.0,48.0,119.3,95.8,25.145833,0.512241,7.687898,1.521657,12
2,rjbarrett,2018-19,NaN,NaN,NaN,NaN,NaN,23.3,0.506,4.8,...,237.0,860.0,70.0,110.1,95.9,19.157143,0.319088,5.658228,1.225071,13
3,deandrehunter,2018-19,NaN,NaN,NaN,NaN,NaN,24.3,0.579,5.6,...,105.0,579.0,76.0,125.8,94.9,16.236842,0.398477,11.752381,1.469543,11
4,dariusgarland,2018-19,5.0,27.8,0.750,0.478,7.79,23.6,0.639,1.6,...,23.0,81.0,7.0,112.0,106.3,19.857143,0.296296,6.043478,1.500000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
959,travisbest,1994-95,30.0,37.2,0.847,0.380,9.04,NaN,NaN,NaN,...,192.0,607.0,71.0,NaN,NaN,15.704225,0.292111,5.807292,1.294243,0
960,davidvaughn,1994-95,29.0,29.9,0.729,0.294,5.78,NaN,NaN,NaN,...,17.0,375.0,86.0,NaN,NaN,10.081395,0.420195,51.000000,1.221498,0
961,gregostertag,1994-95,31.0,19.5,0.553,NaN,10.02,NaN,NaN,NaN,...,0.0,299.0,73.0,NaN,NaN,8.260274,0.507389,NaN,1.472906,0
962,ericsnow,1994-95,28.0,32.7,0.608,0.292,7.88,NaN,NaN,NaN,...,24.0,303.0,77.0,NaN,NaN,11.896104,0.453333,38.166667,1.346667,0
963,fredhoiberg,1994-95,34.0,36.8,0.861,0.412,9.70,NaN,NaN,NaN,...,216.0,677.0,44.0,NaN,NaN,28.454545,0.427061,5.796296,1.431290,0

In [ ]:
# Now we join the player data with draft data

,Player,collegeYear,gamesPlayed,minutes,FT%,3P%,SOS,PER,eFG%,ORB%,...,3PA,PTS,PF,ORtg,DRtg,MP_per_PF,FTA_per_FGA,MP_per_3PA,PTS_per_FGA,awards
0,zionwilliamson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,jamorant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,rjbarrett,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,deandrehunter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,dariusgarland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276,fredhoiberg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1277,fredhoiberg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278,fredhoiberg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1279,fredhoiberg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280,fredhoiberg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
n = playerData.iloc[-5:]

In [7]:
n

,Player,perGame,totals,per40min,per100pos,advanced,awards
1370,fredhoiberg,"--- When using SR data, please cite us and pro...","--- When using SR data, please cite us and pro...","--- When using SR data, please cite us and pro...",NaN,NaN,NaN
1371,fredhoiberg,"--- When using SR data, please cite us and pro...","--- When using SR data, please cite us and pro...","--- When using SR data, please cite us and pro...",NaN,NaN,NaN
1372,fredhoiberg,"--- When using SR data, please cite us and pro...","--- When using SR data, please cite us and pro...","--- When using SR data, please cite us and pro...",NaN,NaN,NaN
1373,fredhoiberg,"--- When using SR data, please cite us and pro...","--- When using SR data, please cite us and pro...","--- When using SR data, please cite us and pro...",NaN,NaN,NaN
1374,fredhoiberg,"--- When using SR data, please cite us and pro...","--- When using SR data, please cite us and pro...","--- When using SR data, please cite us and pro...",NaN,NaN,NaN